

 .background-image {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.center{
  text-align: center;
}

.black {
  color: black;
}

a, .white {
  color: white;
}

.headings{
  font-size: 23px;
  font-weight: bold;
}

.special-heading {
  font-size: 32px;
}

.menu{
  font-size: 18px;
}

body {
  font-family: helvetica;
}

.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
}
